.git
.github
.turbo
.env
.env.*
node_modules
apps/web/.next
apps/web/.env
apps/web/.env.*
apps/cms/.cache
apps/cms/.strapi
apps/cms/.tmp
apps/cms/dist
apps/cms/.env
apps/cms/.env.*
apps/cms/node_modules/.strapi
**/node_modules
**/.DS_Store
